 {% extends 'base.html' %}
{% load static %}
{% block content %}

<header>

<div class="row mt-1 main-row">
<div class="col-12 col-lg-6 banner-section d-flex">

  <div class="highlight mx-5 p-2">
<h1>PRISM GALLERY</h1>

<p>Browse through thousands of photos. <br><br>
Perfect drops for your eye.
</p>
</div>
</div>
<div class="col-12 col-lg-6 ">
<div class="row highlight-photo-grid p-2">
  <div class="col-7 preview-photo-1 m-1">

  </div>
  <div class="col-4 preview-photo-2 m-1">
    

  </div>
</div>
<div class="row highlight-photo-grid p-2">
  <div class="col-4 preview-photo-3 m-1">
    

  </div>
  <div class="col-7 preview-photo-4 m-1">
    

  </div>
</div>
</div>

</div>

</div>
</header>

{% endblock %}